.wrapper-class {
    height: 230px;
}

.editor-class {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
    width: 1118px;
    height: 200px;
    max-height: 500px;
    overflow: auto;
}

.toolbar-class {
    border: 1px solid #ccc;
    margin-top: 4px;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
}
